// *** Шрифты ***
$fontMontserrat: 'Montserrat', sans-serif;

// *** Css переменные ***
:root {
    /* Цвет */
    --turquoise: #6ACCB2;
    --yellowG: #C7D166;
    --yellow: #FFD966;
    --black: #000000;
}